<mat-spinner class="spinner" color="accent" *ngIf="loading$ | async">
</mat-spinner>
<div class="container">
  <mat-card *ngIf="!(loading$ | async)">
    <mat-list>
      <mat-list-item
        matRipple
        *ngFor="let item of items$ | async"
        [routerLink]="['/buyer/items', item.itemId]"
      >
        <h3 matLine>{{ item.itemName }}</h3>
        <p matLine>{{ item.itemId }}</p>
        <p matLine class="demo-2">{{ item.price }}</p>
        <mat-divider
          *ngIf="item.itemId == (items$ | async).length - 1"
        ></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <button class="example-button" mat-raised-button color="accent">
    BUTTON
  </button>
</div>
